*{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

.clr{
    clear: both;
}

/* home */

.home{
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-color{
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
}

.home-content{
    width: 90%;
    margin: auto;
}

.navbar{
    align-items: center;
}

.navbar-image{
    width: 12%;
    float: left;
}

.navbar-image img{
    margin-top: 10%;
    width: 100%;
}

.navbar-links{
    width: 40%;
    float: right;
}

.navbar-links li{
    float: left;
    padding: 30px 15px;
}

.navbar-links a{
    text-decoration: none;
    color: #fff;
}

.home h1{
    color: #fff;
    font-size: 70px;
    margin-bottom: 30px;
}

.home p{
    color: #ccc;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 1.86em;
}

button{
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 50px;
}

.btn-group{
    margin-bottom: 50px;
}

.btn1{
    background-color: #8e7754;
    border: none;
}

.btn2{
    background-color: transparent;
    border: 2px solid #fff;
}

button:hover{
    background-color: #fff;
    color: #333;
}

.mouse{ 
    border: 2px solid #c0bdbd;
    border-radius: 24px;
    width: 32px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}

.mouse a{
    padding: 25px 16px;
    display: inline-block;
}

/* about */

.about{
    padding: 40px 0;
}

.about-image{
    padding: 15px 20px 0;
    width: 45%;
    text-align: center;
    float: left;
}

.about-image img{
    width: 80%;
}

.about-text{
    padding: 15px 20px 0;
    margin-top: 50px;
    width: 45%;
    text-align: center;
    color: #686868;
    line-height: 1.86em;
    float: right;
}

.about-heading h2{
    margin-bottom: 20px;
    color: #303030;
}

.about-heading p{
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

.about-item1, .about-item2, .about-item3, .about-item4{
    width: 25px;
    height: 25px;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 0.5px #929292;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
}

.about-item1{
    background-image: url(images/about/care.png);
}

.about-item2{
    background-image: url(images/about/users.png);
}

.about-item3{
    background-image: url(images/about/social.png);
}

.about-item4{
    background-image: url(images/about/care.png);
}

.about-list p{
    text-align: left;
    margin-bottom: 20px;
}

/* Offer */

.offer{
    padding: 40px 0;
    background-color: #f8f8f8;
    margin: auto;
}

.offer-text{
    line-height: 1.86em;
    width: 45%;
    padding: 15px 0px 0;
    margin: 50px 0 50px 50px;
    text-align: center;
    float: left;
}

.offer-text h2{
    color: #303030;
    margin-bottom: 30px;
}

.offer-text p{
    color: #686868;
    margin-bottom: 20px;
}


.offer-image{
    width: 45%;
    padding: 15px 0 0;
    margin-right: 5px;
    text-align: center;
    float: right;
}

.offer-image img{
    width: 90%;
}

/* gallery */

.gallery{
    padding: 40px 0;
    text-align: center;
    line-height: 1.86em;
    color: #686868;
}

.gallery-heading{
    margin-bottom: 20px;
}

.gallery-heading h2{
    color: #303030;
    margin-bottom: 30px;
}

.baking-items{
    width: 100%;
    margin-left: 50px;
    padding-left: 50px;
}

.baking-item{
    width: 25%;
    padding: 5px 2%;
    text-align: center;
    float: left;
}

.baking-item img{
    width: 100%;
}

.baking-item h4{
    color: #303030;
    margin: 10px 0;
}

/* blog */

.blog{
    padding: 40px 0;
    background-color: #f8f8f8;
    margin: auto;
}

.blog-text{
    text-align: center;
    line-height: 1.86em;
    width: 45%;
    padding: 15px 20px 0;
    margin: 50px 0 50px 20px;
    color: #686868;
    float: left;
}

.contact-text h2{
    color: #303030;
    margin-bottom: 30px;
}

.contact-text p{
    margin-bottom: 20px;
}

.contact-list p{
    text-align: left;
    margin-bottom: 20px;
}

.contact-item1, .contact-item2, .contact-item3, .contact-item4{
    width: 25px;
    height: 25px;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #8e7754;
    border: solid 0.5px #929292;
    border-radius: 50%;
    margin-right: 5px;
    float: left;
}

.contact-item1{
    background-image: url(images/blog/headphone.png);
}

.contact-item2{
    background-image: url(images/blog/telephone.png);
}

.contact-item3{
    background-image: url(images/blog/headphone.png);
}

.contact-item4{
    background-image: url(images/blog/headphone.png);
}

.blog-location{
    width: 45%;
    height: 90%;
    padding: 15px 20px 0;
    text-align: center;
    float: right;
}

iframe{
    width: 80%;
    height: 100%;
}

/* contact */

.contact{
    background-color: #403d38;
    padding: 30px 5%;
    margin: auto;
}

.contact h4{
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.contact p{
    color: #969696;
}

.about-us{
    width: 25%;
    float: left;
}

.about-us p{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.86em;
}

.features{
    width: 25%;
    float: left;
}

.opening-hours{
    width: 25%;
    float: left;
}

.contact li{
    padding: 10px 0;
}

.contact-details{
    width: 25%;
    float: left;
}

.underline-border{
    border: solid 0.0001px #303030;
    width: 90%;
}

.features-item, .hours-item{
    background-image: url(images/contact/arrow.png);
    width: 25px;
    height: 25px;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
    float: left;
}

.details-item1, .details-item2, .details-item3, .details-item4{
    width: 25px;
    height: 25px;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
    float: left;
}

.details-item1{
    background-image: url(images/contact/location.png);
}

.details-item2{
    background-image: url(images/contact/telephone.png);
}

.details-item3{
    background-image: url(images/contact/mail.png);
}

.details-item4{
    background-image: url(images/contact/globe.png);
}

.details-list li p:hover{
    color: #fff;
    cursor: pointer;
}

.features p, .opening-hours p, .contact-details p{
    margin-left: 10px;
    padding-left: 5px;
    font-size: 18px;
}

/* footer */

.footer{
    background-color: #353330;
    text-align: center;
    color: #969696;
    font-size: 14px;
    margin: auto;
}

.footer img{
    width: 20%;
    padding: 50px 0 20px;
}

.footer-list{
    width: 14%;
    padding: 20px 0 50px 20px;
    margin: auto;
}

.footer-list li{
    float: left;
}

.facebook{
    background-image: url(images/footer/facebook.png);
}

.google-plus{
    background-image: url(images/footer/google-plus.png);
}

.linkedin{
    background-image: url(images/footer/linkedin.png);
}

.twitter{
    background-image: url(images/footer/twitter.png);
}

.facebook, .google-plus, .linkedin, .twitter{
    width: 40px;
    height: 40px;
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #403d38;
    margin-right: 5px;
    border: none;
    border-radius: 50%;
}

.facebook:hover{
    background-color: #3b5998;
    background-image: url(images/footer/facebook-hover.png);
    cursor: pointer;
}

.google-plus:hover{
    background-color: #dd4b32;
    background-image: url(images/footer/google-plus-hover.png);
    cursor: pointer;
}

.linkedin:hover{
    background-color: #007bb5;
    background-image: url(images/footer/linkedin-hover.png);
    cursor: pointer;
}

.twitter:hover{
    background-color: #00aced;
    background-image: url(images/footer/twitter-hover.png);
    cursor: pointer;
}

div{
    overflow: hidden;
}